<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
  <Appenders>
    <Console name="ConsoleAppender" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss,SSS} [%t] %-5p %c{36} - %m%n"/>
    </Console>
    <Log4j2Appender name="Log4j2Appender">
      <PatternLayout pattern="%d{HH:mm:ss,SSS} [%t] %-5p %c{36} - %m"/>
      <stagingBufferSize>10</stagingBufferSize>
      <!-- Uncomment below to override stagingBufferSize and to attempt a publish every 15 minutes -->
        <stagingBufferAge>5</stagingBufferAge>

      <!-- Uncomment AND configure the lines below to enable upload to S3 -->
        <s3Bucket>bpdspoc3</s3Bucket>
        <s3Path>logs/test_</s3Path>
        <s3AwsKey></s3AwsKey>
        <s3AwsSecret></s3AwsSecret>
        <!--<s3Region>us-west-2</s3Region>-->

      <!-- Uncomment below to apply GZIP compression on content sent to S3 -->
        <!--<s3Compression>true</s3Compression>-->
	
    </Log4j2Appender>
  </Appenders>
  <Loggers>
    <Root level="INFO">
      <AppenderRef ref="ConsoleAppender" />
      <AppenderRef ref="Log4j2Appender" />
    </Root>
  </Loggers>
</Configuration>
